<main class="container box">
    <div class="columns">
        <div class="column is-two-thirds">
            <h1>Contact me</h1>
            <hr>
            <form action="Email me.">
                <div class="field">
                    <label class="label">YOUR NAME</label>
                    <div class="control">
                        <input class="input" id="contact-name-input" type="text">
                    </div>
                </div>
                <div class="field">
                    <label class="label">YOUR EMAIL</label>
                    <div class="control">
                        <input class="input" id="contact-email-input" type="email">
                    </div>
                </div>
                <div class="field">
                    <label class="label">SUBJECT</label>
                    <div class="control">
                        <input class="input" id="contact-subject-input" type="text">
                    </div>
                </div>
                <div class="field">
                    <label class="label">YOUR MESSAGE</label>
                    <div class="control">
                        <textarea class="textarea" id="contact-message-input"></textarea>
                    </div>
                </div>
                <div class="field">
                    <div class="control">
                        <button class="button is-link" id="contact-send-button">Send</button>
                    </div>
                </div>
            </form>
        </div>
        <div class="column is-one-third">
            <h3>Email</h3>
            <br>
            <p><a href="mailto:connerjm2@gmail.com" target="_blank">connerjm2@gmail.com</a></p>
            <hr>
            <h3>Phone</h3>
            <br>
            <p>1.253.389.1831</p>
            <hr>
            <h3>On the web</h3>
            <br>
            <p><a href="https://github.com/Connerjm" target="_blank">GitHub.com</a> || <a
                    href="https://www.linkedin.com/in/conner-martin-47175211b/" target="_blank">Linkedin</a></p>
            <hr>
            <h3>Download my résumé</h3>
            <br>
            <p><a href="./assets/Résumé_2021.pdf" download>Click to download</a></p>
        </div>
    </div>
</main>