<main class="container box">
    <h1 class="title is-1">Welcome</h1>
    <hr>
    <img id="self-picture" src="./assets/monkee.png" alt="An image of myself.">
    <div class="block">
        <h2 class="subtitle is-2">I'm Conner, from the beautiful PNW. A computer scientist currently using this
            quarantine time to become a
            full-fledge
            full stack dev.</h2>
    </div>
    <div class="block">
        <p>I've spent the last few years learning to program. I have a CS degree from the University of Washington, but
            learning a
            new language or technology every class has left me a Jack-of-all-Trades, Master-of-None. Once the pandemic
            hit,
            I saw it
            as an opportunity to finally hone it in and work towards a career.</p>
    </div>
    <div class="block">
        <p>I may not have any professional experience, but I strive to put my heart and soul into every project I
            create.
            Even with
            small applications, you can find me researching color theory or something of the ilk to ensure a great
            experience. When
            in between class assignments, I try to work on my excessively large list of project ideas, ranging from the
            silly idiom
            confuser to full dagashi databases.</p>
    </div>
    <div class="block">
        <p>When not behind the keyboard, I can be found playing games, fangirling over the MCU, binging yet another
            anime,
            or
            petting my kitten Lilith.</p>
    </div>
</main>