<main class="container box" style="max-width: 750px;">
    <form action="login">
        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left">
                <input class="input" id="login-email-input" type="email" placeholder="e.g. johndoe@gmail.com">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left">
                <input class="input" id="login-password-input" type="password" placeholder="e.g. password123">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
            </div>
        </div>
        <p>Not signed up? <a href="/signup">Signup instead</a>.</p>
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
                <a class="button" id="login-button">
                    Login
                </a>
            </p>
            <p class="control">
                <a class="button cancel-button">
                    Cancel
                </a>
            </p>
        </div>
    </form>
</main>