<main class="container box" style="max-width: 750px;">
    <h1 style="text-align: center;">Why sign up? I wanted my personal info gated in some manner.</h1>
    <br>
    <form action="signup">
        <div class="field">
            <label class="label">Username</label>
            <div class="control has-icons-left">
                <input class="input" id="signup-username-input" type="text" placeholder="e.g. {{fake.username}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-user"></i>
                </span>
            </div>
            <p class="help">Must be unique.</p>
        </div>
        <div class="field">
            <label class="label">Email</label>
            <div class="control has-icons-left">
                <input class="input" id="signup-email-input" type="email" placeholder="e.g. {{fake.email}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-envelope"></i>
                </span>
            </div>
        </div>
        <div class="field">
            <label class="label">Password</label>
            <div class="control has-icons-left">
                <input class="input" id="signup-password-input" type="password" placeholder="e.g. {{fake.password}}">
                <span class="icon is-small is-left">
                    <i class="fas fa-key"></i>
                </span>
            </div>
            <p class="help">Must be 8 to 25 characters.</p>
        </div>
        <p>Already signed up? <a href="/login">Login instead</a>.</p>
        <div class="field is-grouped is-grouped-centered">
            <p class="control">
                <a class="button" id="signup-button">
                    Signup
                </a>
            </p>
            <p class="control">
                <a class="button cancel-button">
                    Cancel
                </a>
            </p>
        </div>
    </form>
</main>