/* Set variables. */
:root {
    /* Colors */
    --primary: #f64f59;
    --secondary: #12c2e9;
    --light: #dddddd;
    --dark: #222222;

    /* Fonts. */
    --main-font: 'Roboto', sans-serif;
}

header {
    border-bottom: solid 1px var(--dark);
}

#logo-button:hover {
    color: initial;
}

.navbar-menu {
    animation: navAnimOpen .2s ease-in-out;
}

@keyframes navAnimOpen {
    0% {
        display: none;
        opacity: 0;
        max-height: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        opacity: 1;
        max-height: 396px;
    }
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px;
    border-top: solid 1px var(--dark);
}