/* Set variables. */
:root {
    /* Colors */
    --primary: #f64f59;
    --secondary: #12c2e9;
    --light: #dddddd;
    --dark: #222222;

    /* Fonts. */
    --main-font: 'Roboto', sans-serif;
}

html,
body {
    margin: 0;
    padding: 0;
}

body {
    min-height: 100vh;
    padding-bottom: 60px;
    background-image: linear-gradient(to bottom right, #12c2e9, #c471ed, #f64f59);
}

header {
    border-bottom: solid 1px var(--dark);
    margin-bottom: 25px;
}

#logo-button:hover {
    color: initial;
}

.navbar-menu {
    animation: navAnimOpen .2s ease-in-out;
}

@keyframes navAnimOpen {
    0% {
        display: none;
        opacity: 0;
        max-height: 0;
    }

    1% {
        display: block;
        opacity: 0;
    }

    100% {
        opacity: 1;
        max-height: 396px;
    }
}

#self-picture {
    float: left;
    width: 20%;
    margin-right: 20px;
    margin-bottom: 20px;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 16px;
    border-top: solid 1px var(--dark);
}